html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-color: #33334c;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
}

#btn-container {
  z-index: 100;
  position: absolute;
  background-color: transparent;
}

button {
  cursor: pointer;
}

label {
  color: white;
}
